body{
  padding-top: 10%;
  padding-left: 14%;
  background-color: #C1CFC0;

}
h3{
  font-size: 1em;
}
h1{
  font-size: 2em;
}
h2{
  font-size:0.5;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: white;
}
.outer{
  padding-top: 40px;
  background-color: #E7E0C9;
  width: 84%;


}
.heading{

width: 80%;
position: relative;
left: 100px;
margin-bottom: 25px;



}
.head-text{

  width: 50%;
  position: absolute;
  left: 170px;
  bottom: 30px;

line-height: 0.5;

}
.below{
  border: solid;
  width: 80%;
  margin: 0 auto;
  border-width: thin;
  margin-bottom: 40px;
  color:#A19882;

}
.mypic{
  width: 18%;
  height: 18%;
  border-radius: 100%;
}
.career{
  width: 75%;
  position: relative;
  left: 100px;

  line-height: 1.5;
}
.education{
  width: 80%;

  position: relative;
  left: 100px;
}
.edu-text{

  position: relative;
  width: 70%;

}
.edu-img{


  position: absolute;
  bottom: 50px;
  left:500px;
}
.image-edu{
  width: 90%;
  height: 90%;
}
.skills{

  width: 80%;
  position: relative;
  left: 100px;
}
.computer{
  width: 25%;
  height: 25%;
  position: relative;
}
.skills-text{

  position:absolute;
  bottom:1px;
  left: 250px;
  line-height: 2;
}
.project{

  width: 80%;
  position: relative;
  left: 100px;
}
.proj-text{
  width: 50%;
}
.proj-img-div{
  position: absolute;
  bottom: 20px;
  left: 510px;
}
.proj-img{
  width: 80%;
  height: 80%;
}
.achievement{
  width: 80%;
  margin-bottom: 20px;
  position: relative;
  left: 100px;
}
.ach-img{
  width: 30%;
  height: 30%;
  position: relative;
  right: 35px;

}
.ach-text{
  width: 60%;
  position: absolute;
  bottom: 50px;
  left:265px;
}
.last{
  width:98%;
  height: 100px;
  background-color: #D6D2C4;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
}
.linkedin{

  width: 20px;
  height: 20px;
  margin: 10px;

}
.mail{
  width: 25px;
  height: 25px;
  margin: 10px;

}
.twitter{
  width: 25px;
  height: 25px;
  margin: 10px;

}
hr{
  border:dotted #EAF6F6 6px;
  border-bottom: none;
  border-color: #C1CFC0;
  width: 15%;
  margin-top: 70px;
  margin-bottom: 70px;
}
.hr1{
  border:dotted #EAF6F6 6px;
  border-bottom: none;
  border-color: #C1CFC0;
  width: 15%;
  margin-top: 40px;
  margin-bottom: 40px;
}
